* {
  font-family: 'Inter', sans-serif;
}

/* #root {
  width: 100%;
} */

nav, main {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.error {
  color: red;
}
